div {

    width: 400px;
    height: 250px;  
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;

}

.botoes {


    justify-content: space-between;
    display: flex;
    height: 15px; 
    border: none;
    align-items: center;
    padding-left: 10px;
    
}

h1 {

    font-size: 40px;
    font-family: ubuntu;

}

button {


text-align: center;
text-decoration: none;
border: none


}

.b1 {

    
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    background-color: white;


}

.b2 {
    

    height: 40px; 
    border-radius: 5px;
    border: 1px solid;
    width: 15em;
    margin: 30px;
    background-color: white;

 

    

}

html, body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    



}

.main {

width: 400px;
height: 250px;
border: 2px solid black;
padding: 30px;
border-radius: 5px;
position: relative;


}

.help {

width: 35px;
border-radius: 30px;
position: absolute;
top: -18px;
right: -15px;
background-color: white;
border: 2px solid;



}
